.mainDiv {
  min-height: 30vh;
  border: 2px solid blue;
  

  .leftDiv {
    height: 48vh;
  }

  .rightDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3vw;
    }

    p {
      font-size: 1.6vw;
      font-style: normal;
      text-align: center;
    }
  }
}
