@import "../../../mixins.module.scss";

.mainDiv {
    padding-inline: 30px;
    height: 90vh;
    border: 1px solid red;
    position: relative;

      
  h1 {
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 143px;
    font-size: 70px;
   
  }
 
  }
  
  .mainDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/aboutSecImg.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(2.5px);
    z-index: -1; /* Place the blurred background behind other content */
  }

  
  .mainDiv::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0.5;
    z-index: 1; /* Make sure the overlay is between the blurred background and content */
  }
